.contact-me-section { background-color: $plum; }
.contact-me-section__box {
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}
.contact-me-section__box p:last-child { margin-top: 3rem; }
@media (max-width: 786px) {
  .contact-me-section__box { padding: 2rem 0; }
}
