.projects-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $dkblue;

}
.projects-section .project {
    @include max-width-middle;
    @include padding-around;

    @media (min-width: 786px) {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }
}
.projects-section h2 {
    text-align: center;
    font-size: $font-xl;
    margin-bottom: 4rem;
    @media (max-width: 786px) {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
.projects-section h3 {
    color: $aqua;
}
.projects-section h4 {
    font-size: 1rem;
    font-family: $font-mono;
    margin: 0;
}
.projects-section__description {
    background-color: $black;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5;
}
.projects-section__technologies-list {
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
    @media (min-width: 786px) {
        justify-content: flex-end;
    }
}
.projects__image {
    margin: 2rem 0 4rem 0;
    border-left: 1px solid $aqua;
    border-top: 1px solid $aqua;
    border-radius: 25px;
    padding: 1rem;
    grid-column: 1 / 7;
    grid-row: 1/2;
}
.projects__content {

    @media (min-width: 786px) {
        order: 2;
        text-align: right;
        grid-row: 1/2;
        grid-column: 5 / 11;
    }
}
.project-opposite {
    @include max-width-middle;
    @include padding-around;

    @media (min-width: 786px) {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;
    }
}
.project-opposite .projects__content {

    @media (min-width: 786px) {
        text-align: left;
        grid-column: 1 / 7;
    }
}
.project-opposite .projects__image {
    grid-column: 5 / 11;
    border-right: 1px solid $aqua;
    border-top: 1px solid $aqua;
    border-left: 0;

}
.project-opposite .projects-section__technologies-list {
    @media (min-width: 786px) {
        justify-content: flex-start;
    }
}
