.btn {
  padding: .5rem;
  border-radius: 5px;
  border: 0;
}

.btn.btn--mag {
  background-color: #e310cb;
  color: #f7f8fa;
}

.btn.btn--mag:hover {
  background-color: #ff17e4;
}

.dropdown-btn {
  font-weight: 700;
  color: #86fbfb;
  transition: color 150ms ease;
}

.dropdown-btn:hover {
  color: #e310cb;
}

.dropdown-btn:active {
  color: #ff17e4;
}

.dropdown-btn span {
  pointer-events: none;
}

.dropdown-btn [class*="fa-"] {
  margin-left: 5px;
  transition: transform .5s ease-in-out;
}

[class*="active--dropdown"] .dropdown-btn [class*="fa-"] {
  transform: rotate(180deg);
}

.flex {
  display: flex;
}

.flex--vertical {
  display: flex;
  flex-direction: column;
}

.flex-inline {
  display: inline-flex;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--reverse {
  flex-direction: row-reverse;
}

.flex--autosize > .flex__item,
.flex--apart > .flex__item,
.flex--spread > .flex__item,
.flex--center > .flex__item,
.flex--start > .flex__item,
.flex--end > .flex__item {
  flex: 0 0 auto;
}

.flex--apart {
  justify-content: space-between;
}

.flex--spread {
  justify-content: space-around;
}

.flex--center {
  justify-content: center;
}

.flex--top {
  align-items: flex-start;
}

.flex--bottom {
  align-items: flex-end;
}

.flex--middle {
  align-items: center;
}

.flex--start {
  justify-content: flex-start;
}

.flex--end {
  justify-content: flex-end;
}

.flex__item {
  flex: 1 1 0;
  min-width: 0;
}

.flex__item.flex__item--double {
  flex-grow: 2;
}

.flex__item.flex__item--triple {
  flex-grow: 3;
}

.flex__item.flex__item--quadra {
  flex-grow: 4;
}

.flex__item.flex__item--penta {
  flex-grow: 5;
}

.flex__item--autosize {
  flex-grow: 0;
  flex-basis: auto;
}

.flex-self--end {
  align-self: flex-end;
}

.flex-self--start {
  align-self: flex-start;
}

/* width */
.width--100p {
  width: 100%;
}

.width--50p {
  width: 50%;
}

.width--100v {
  width: 100vw;
}

/* min width */
.width--min-100p {
  min-width: 100%;
}

.width--min-100v {
  min-width: 100vw;
}

/* max width */
.width--max-100p {
  max-width: 100%;
}

.width--max-100v {
  max-width: 100vw;
}

/* height */
.height--100p {
  height: 100%;
}

.height--100v {
  height: 100vh;
}

/* min height */
.height--min-100p {
  min-height: 100%;
}

.height--min-100v {
  min-height: 100vh;
}

/* max height */
.height--max-100p {
  max-height: 100%;
}

.height--max-100v {
  max-height: 100vw;
}

.pos--rel {
  position: relative;
}

.pos--abs {
  position: absolute;
}

#header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

@media (max-width: 1200px) {
  #header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.expender {
  position: relative;
  background-image: url(../../images/lapotop-main-page-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-nav {
  font-size: 80%;
}

.header-nav__list {
  font-family: "Oxygen mono", monospace;
  gap: 2rem;
}

.header-nav-list__item:last-child {
  display: none;
}

@media (max-width: 500px) {
  .header-nav-list__item:last-child {
    display: block;
  }
}

.header-nav-list__item:first-child {
  font-family: "Oxygen", sans-serif;
  flex-basis: 100%;
  text-align: center;
  display: block;
}

@media (max-width: 500px) {
  .header-nav-list__item:first-child h1 {
    font-size: 1.1rem;
  }
}

@media (min-width: 850px) {
  .header-nav-list__item:first-child {
    text-align: left;
    flex-basis: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .header-nav-list__item:first-child {
    text-align: left;
    flex-basis: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .header-nav-list__item {
    display: none;
  }
}

.header-nav-list-item__link {
  color: #f7f8fa;
  text-decoration: none;
}

.header-nav [class*="fa-"] {
  color: #86fbfb;
  font-size: 150%;
}

.header-nav [class*="fa-"]:hover {
  color: #ff17e4;
}

.header-nav-list__item h1 [class*="fa-"] {
  font-size: 100%;
}

@media (max-width: 500px) {
  .header-nav-list__item h1 [class*="fa-"] {
    font-size: 90%;
  }
}

#footer {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 1200px) {
  #footer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.footer__list {
  gap: 3rem;
  font-size: 3rem;
  margin: 2rem 0;
}

@media (max-width: 786px) {
  #footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #footer h2 {
    font-size: 1.3rem;
  }
  .footer__list {
    gap: 2rem;
    font-size: 2rem;
  }
  #footer .copyright {
    font-size: 14px;
  }
}

.border-line {
  height: 2px;
  background: linear-gradient(90deg, #ff17e4 0%, #86fbfb);
}

.bottom-border {
  border-bottom: 2px solid #0d314b;
}

.mobile-navigation-dropdown {
  z-index: 999;
  background-color: #171321;
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 100%;
  transition: .6s ease-in-out;
  padding-top: 1rem;
}

.mobile-navigation-dropdown.active--navigation {
  bottom: 0 !important;
}

.mobile-navigation__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .mobile-navigation__header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.mobile-navigation__header h2 [class*="fa-"] {
  font-size: 100%;
  color: #86fbfb;
}

@media (max-width: 500px) {
  .mobile-navigation__header h2 [class*="fa-"] {
    font-size: 90%;
  }
}

.mobile-navigation__header h2 {
  font-family: "Oxygen", sans-serif;
  margin-right: auto;
}

@media (max-width: 500px) {
  .mobile-navigation__header h2 {
    font-size: 1.1rem;
  }
}

.mobile-nav__list {
  display: list-item;
  list-style-type: none;
  margin-left: 1rem;
  margin-top: 2rem;
}

.mobile-nav-list__item {
  padding-bottom: 1.4rem;
}

.mobile-nav-list-item__link {
  color: #f7f8fa;
  text-decoration: none;
  font-size: 1rem;
}

.mobile-navigation-footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.mobile-navigation-footer h2 {
  font-size: 80%;
}

.mobile-navigation-footer p {
  font-size: 70%;
}

#close-icon:hover {
  color: #ff17e4;
}

.mobile-nav-list-item__link [class*="fa-"] {
  color: #86fbfb;
  font-size: 130%;
}

.mobile-navigation__header [class*="fa-"]:hover {
  color: #ff17e4;
}

.page-title {
  margin-top: 4rem;
  font-family: "Oxygen mono", monospace;
}

.max-width-middle {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .padding-side {
    padding: 0 10px;
  }
}

.main-section {
  margin-top: 10rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .main-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 850px) {
  .main-section {
    margin-top: 5rem;
  }
}

.main-section p {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 610px) {
  .main-section p {
    font-size: .8rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

.main-section__my-name {
  font-family: "Oxygen mono", monospace;
}

.main-section__my-name span {
  display: block;
  color: #86fbfb;
  font-size: 3rem;
}

@media (max-width: 610px) {
  .main-section__my-name span {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .main-section__my-name span {
    font-size: 1.5rem;
  }
}

.main-section h2 {
  font-size: 3rem;
  font-weight: normal;
}

@media (max-width: 610px) {
  .main-section h2 {
    font-size: 2rem;
  }
}

@media (max-width: 440px) {
  .main-section h2 {
    font-size: 1.5rem;
  }
}

.main-section__image-box {
  text-align: right;
}

.main-section__image-box img {
  display: none;
  width: 700px;
  object-fit: contain;
  margin-top: -3rem;
  border-radius: 15px 0 0 15px;
  mask-image: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  text-align: right;
}

@media (max-width: 1100px) {
  .main-section__image-box img {
    margin-top: 1rem;
  }
}

@media (max-width: 550px) {
  .main-section__image-box img {
    width: 100%;
    height: 250px;
  }
}

.contact-me-section {
  background-color: #4b0d49;
}

.contact-me-section__box {
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}

.contact-me-section__box p:last-child {
  margin-top: 3rem;
}

@media (max-width: 786px) {
  .contact-me-section__box {
    padding: 2rem 0;
  }
}

.project-section {
  padding: 4rem 1rem;
  background-color: #0d314b;
}

.project-section h2 {
  margin-bottom: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

.project-section h3 {
  color: #86fbfb;
}

.project-section h4 {
  margin: 0;
  font-family: "Oxygen mono", monospace;
  font-size: 1rem;
}

.project-section .project--opposite .project__img {
  display: grid;
  grid-column: 5 / 11;
  border-right: 1px solid #86fbfb;
  border-top: 1px solid #86fbfb;
  border-left: 0;
}

.project-section .slider-dot--active {
  background-color: #86fbfb;
}

.project-section .project__description {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #171321;
  line-height: 1.5;
}

.project-section .project__list {
  gap: 1rem;
  font-size: 1rem;
}

.project-section .project__img {
  grid-column: 1 / 7;
  grid-row: 1/2;
  padding: 1rem;
  margin: 2rem 0 4rem 0;
  border-left: 1px solid #86fbfb;
  border-top: 1px solid #86fbfb;
  border-radius: 25px;
}

.project-section .project__dot {
  margin: 30px 15px;
  padding: 10px;
  border: 2px solid #86fbfb;
  border-radius: 50%;
  transition: 150ms ease-in;
}

.project-section .project__dot:hover {
  background-color: #86fbfb;
}

@media (min-width: 789px) {
  .project-section .project {
    grid-row: 1/2;
    grid-column: 5 / 11;
    order: 2;
    text-align: right;
  }
  .project-section .project__dot {
    display: none;
  }
  .project-section .project-wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  .project-section .project-wrapper.project--opposite .project {
    grid-column: 1 / 7;
    text-align: left;
  }
  .project-section .project-wrapper.project--opposite .project__list {
    justify-content: flex-start;
  }
}

@media (max-width: 786px) {
  .project-section h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .project-section .project-wrapper {
    display: none;
  }
  .project-section .project-wrapper.active--project {
    display: block;
  }
  .project-section .project__img {
    margin-bottom: 0;
  }
}

#projects {
  margin-top: 3rem;
  width: 100%;
}

#projects-page .project {
  margin: 2rem auto;
  display: none;
  gap: 1.5rem;
  grid-template-areas: "logo main main" "mobile main main" "mobile program program" "mobile program program" "description description description";
}

#projects-page .project.active--project {
  display: grid;
}

#projects-page .project-review h2 {
  font-size: 1.4rem;
  font-family: "Oxygen", sans-serif;
}

#projects-page .project__item span {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: .5rem;
  font-family: "Oxygen mono", monospace;
}

#projects-page .project__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#projects-page .project__item--1 {
  grid-area: logo;
}

#projects-page .project__item--2 {
  grid-area: mobile;
}

#projects-page .project__item--3 {
  grid-area: main;
}

#projects-page .project__item--4 {
  grid-area: program;
}

#projects-page .project__btns {
  margin-left: auto;
  bottom: 50%;
  cursor: pointer;
}

#projects-page .project__btns span {
  font-size: 3rem;
  color: #86fbfb;
  transition: 150ms ease-in-out;
  padding: 1rem;
}

#projects-page .project__btns span:hover {
  color: #ff17e4;
  transform: scale(1.1);
}

#projects-page .project__btns span:active {
  color: #b700ff;
}

#projects-page .project__description {
  grid-area: description;
  cursor: pointer;
  transition: padding .5s ease-in-out;
}

#projects-page .project__description [class*="fa-"] {
  color: #86fbfb;
  font-size: 1em;
  margin-left: 10px;
}

#projects-page .project__description h4,
#projects-page .project__description span {
  pointer-events: none;
}

#projects-page .project__description-wrapper {
  transition: opacity .3s;
}

#projects-page .project__description .project__description-btn span {
  transition: transform .5s ease-in-out;
}

#projects-page .project__description.active--dropdown .project__description-wrapper {
  opacity: 1;
}

#projects-page .project__description.active--dropdown .project__description-btn span {
  transform: rotate(180deg);
}

@media (max-width: 786px) {
  #projects-page .project__btns span {
    font-size: 2rem;
  }
  #projects-page .project__item span {
    display: none;
    font-size: 15px;
  }
  #projects-page .project__item:hover span {
    display: block;
  }
  #projects-page .project__description p {
    font-size: 16px;
  }
  #projects-page .project__description-wrapper {
    position: absolute;
    opacity: 0;
  }
}

.CV {
  margin-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .CV {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .CV__sidebar {
    order: 2;
    margin-top: 50px;
  }
  .CV__main {
    order: 1;
  }
}

@media (max-width: 786px) {
  .CV {
    margin-top: 40px;
  }
}

.CV__main {
  max-width: calc(700px - 5%);
  width: 100%;
}

.CV__main__primary {
  height: 380px;
}

.CV__main__primary h2 {
  font-size: 3rem;
  white-space: nowrap;
}

.CV__main__primary h2 span {
  display: block;
  font-size: 2em;
  color: #86fbfb;
}

.CV__main__primary h3 {
  font-size: 2rem;
  font-weight: 500;
}

.CV__main__primary .border-line {
  margin-top: 1%;
}

.CV__main__secondary {
  height: 100%;
}

.CV__main__secondary h4 {
  padding: 1em;
  border-left: 10px solid #e310cb;
  background-color: rgba(227, 16, 203, 0.2);
  font-size: 1.1em;
}

.CV__main__secondary__item {
  margin-right: 5%;
}

.CV__main__secondary__item__title {
  padding-right: 3%;
}

.CV__main__secondary__item__title h5 {
  margin: 0;
  margin-top: 3%;
  font-size: 1.3rem;
}

.CV__main__secondary__item__title p {
  margin: 0;
  font-size: 1rem;
}

.CV__main__secondary__item__description {
  padding-left: 3%;
  border-left: 2px solid #0d314b;
}

.CV__main__secondary__item__description h6 {
  margin: 0;
  margin-top: 20.6px;
  font-size: 1rem;
}

.CV__main__secondary__item__description p {
  font-weight: 100;
  letter-spacing: .4px;
  line-height: 27px;
}

.CV__main__secondary__dropdown {
  transition: padding .5s ease-in-out;
}

.CV__main__secondary__dropdown__btn {
  margin-top: 3%;
  font-size: 1.6rem;
}

.CV__main__secondary__dropdown__wrapper {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.CV__main__secondary__dropdown.active--dropdown .CV__main__secondary__dropdown__wrapper {
  opacity: 1;
}

@media (max-width: 786px) {
  .CV__main__primary {
    height: 320px;
  }
  .CV__main__primary h2 {
    font-size: 2rem;
  }
  .CV__main__primary h3 {
    font-size: 1.2rem;
  }
  .CV__main__secondary h4 {
    font-size: 1.1em;
  }
  .CV__main__secondary__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
  }
  .CV__main__secondary__item__title h5 {
    font-size: 1rem;
  }
  .CV__main__secondary__item__title p {
    font-size: .8rem;
  }
  .CV__main__secondary__item__description {
    border-left: none;
    padding-left: 0;
  }
  .CV__main__secondary__item__description h6 {
    font-size: .8rem;
  }
  .CV__main__secondary__dropdown__btn {
    font-size: 1.3rem;
  }
}

.CV__sidebar {
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 50px;
  margin-right: 5%;
}

.CV__sidebar__primary {
  height: 500px;
  overflow: hidden;
}

.CV__sidebar__primary__polygon {
  top: -16%;
  left: -25%;
  z-index: -2;
  clip-path: polygon(50% 0, 100% 22%, 100% 78%, 50% 100%, 0 78%, 0 22%);
  width: 110%;
  height: 115%;
  background-color: #4b0d49;
}

.CV__sidebar__primary img {
  bottom: 4%;
  right: 0;
  z-index: -1;
  clip-path: polygon(50% 0, 100% 22%, 100% 75%, 50% 100%, 0 78%, 0 25%);
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.CV__sidebar__secondary {
  margin-top: -10%;
  transition: padding .5s ease-in-out;
}

.CV__sidebar__secondary__polygon {
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  height: 250px;
  background-color: #0d314b;
  font-size: 13px !important;
}

.CV__sidebar__secondary__polygon .dropdown-btn {
  display: none;
  padding: 10px;
  font-size: 1rem;
}

.CV__sidebar__secondary__content {
  padding: 1rem 1rem 2rem;
  background-color: #0d314b;
}

.CV__sidebar__secondary__content h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 10%;
  height: 2px;
  background-color: white;
}

.CV__sidebar__secondary__content p {
  letter-spacing: .4px;
  line-height: 27px;
}

.CV__sidebar__secondary__content ul {
  display: inline-block;
  margin: 20.8px 0;
  width: 90%;
}

.CV__sidebar__secondary__content ul li .progress-bar {
  width: 60%;
  height: 10px;
  background-color: white;
}

.CV__sidebar__secondary__content ul li .progress-bar__progress {
  height: 100%;
  background-color: red;
  width: var(--load-progress);
}

.CV__sidebar__secondary__content ul li [class*="fa-"] {
  margin-right: 10px;
}

.CV__sidebar__secondary__content ul li:nth-child(1) [class*="fa-"] {
  font-size: 95%;
}

.CV__sidebar__secondary__content ul li:nth-child(3) [class*="fa-"] {
  font-size: 120%;
}

.CV__sidebar__secondary__content ul li:nth-child(4) [class*="fa-"] {
  font-size: 110%;
}

.CV__sidebar__secondary__decoration {
  z-index: -2;
  top: 100px;
  clip-path: polygon(0px 25%, 100% 0px, 100% 100%, 0% 100%);
  height: 500px;
  width: 50%;
  background-color: #e310cb;
}

@media (max-width: 1100px) {
  .CV__sidebar__secondary__polygon .dropdown-btn {
    display: flex;
  }
  .CV__sidebar__secondary__content {
    position: absolute;
  }
}

@media (max-width: 786px) {
  .CV__sidebar {
    max-width: 350px;
  }
  .CV__sidebar__primary {
    height: 350px;
  }
  .CV__sidebar__secondary__polygon {
    height: 180px;
  }
  .CV__sidebar__secondary__decoration {
    top: 70px;
    clip-path: polygon(0px 18%, 100% 0px, 100% 100%, 0% 100%);
  }
  .CV__sidebar__secondary__content ul {
    margin: 0;
  }
}

.CV__decoration {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.CV__decoration div {
  top: 0;
  left: 0;
  clip-path: polygon(50% 0, 100% 22%, 100% 75%, 50% 100%, 0 78%, 0 25%);
  width: 100%;
  height: 100%;
  background-color: #0d314b;
}

.CV__decoration div:last-child {
  z-index: 1;
  left: 40%;
  background-color: #86fbfb;
}

.CV__decoration--top {
  top: -80px;
  right: 0;
}

.CV__decoration--bottom {
  bottom: -100px;
  right: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  background-color: #171321;
  color: #f7f8fa;
  font-size: 1.3rem;
}

@media (max-width: 786px) {
  body {
    font-size: 1rem;
  }
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: #e310cb;
}

a:hover {
  color: #ff17e4;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */