.flex {
  display: flex;
}

.flex--vertical {
  display: flex;
  flex-direction: column;
}

.flex-inline {
  display: inline-flex;
}

// Horizontal flow
.flex--wrap {
  flex-wrap: wrap;
}

// items will wrap instead of overflowing rows

.flex--reverse {
  flex-direction: row-reverse;
}

// items rendered in reverse order

.flex--autosize,
// items fit content size
.flex--apart,
// items with space between
.flex--spread,
// items with space around
.flex--center,
.flex--start,
.flex--end {
  >.flex__item {
    flex: 0 0 auto;
  }
}

.flex--apart {
  justify-content: space-between;
}

.flex--spread {
  justify-content: space-around;
}

.flex--center {
  justify-content: center;
}

// Vertical flow
.flex--top {
  align-items: flex-start;
}

// align items top edge
.flex--bottom {
  align-items: flex-end;
}

// align items bottom edge
.flex--middle {
  align-items: center;
}

// align items to middle
.flex--start {
  justify-content: flex-start;
}

.flex--end {
  justify-content: flex-end;
}

// Individual items
.flex__item {
  flex: 1 1 0;
  min-width: 0;

  &.flex__item--double {
    flex-grow: 2;
  }

  &.flex__item--triple {
    flex-grow: 3;
  }

  &.flex__item--quadra {
    flex-grow: 4;
  }

  &.flex__item--penta {
    flex-grow: 5;
  }
}

.flex__item--autosize {
  flex-grow: 0;
  flex-basis: auto;
}

// Flex items
.flex-self--end {
  align-self: flex-end;
}

.flex-self--start {
  align-self: flex-start;
}

// Flex multi actions

//Horizontal flex actions

//Justify-content ~ X axes
@mixin flex-X-center {
  display: flex;
  justify-content: center;
}

@mixin flex-X-spread {
  display: flex;
  justify-content: space-between;
}

@mixin flex-X-aside {
  display: flex;
  justify-content: space-around;
}

@mixin flex-X-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-X-end {
  display: flex;
  justify-content: flex-end;
}

//Justify-content ~ Y axes
@mixin flex-Y-center {
  display: flex;
  align-items: center;
}

@mixin flex-Y-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-Y-end {
  display: flex;
  align-items: flex-start;
}

//Y and X axes
@mixin flex-XY-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-X-center-Y-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-X-spread-Y-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-X-start-Y-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

//Vertical flex actions
@mixin flex-vertical {
  display: flex;
  flex-direction: column;
}

//Align items - X axes
@mixin flex-vertical-X-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-vertical-X-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flex-vertical-X-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

//Justify content ~ Y axes
@mixin flex-vertical-Y-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-vertical-Y-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-vertical-Y-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

//X and Y axes
@mixin flex-vertical-XY-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-vertical-XY-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-vertical-X-start-Y-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-vertical-X-center-Y-spread {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}