.CV {
  margin-top: 80px;
  margin-bottom: 80px;

  &__sidebar {
    max-width: 500px;
    overflow: hidden;
    margin-bottom: 50px;
    margin-right: 5%;

    //Image part
    &__primary {
      height: 500px;
      overflow: hidden;

      &__polygon {
        top: -16%;
        left: -25%;
        z-index: -2;
        clip-path: polygon(50% 0, 100% 22%, 100% 78%, 50% 100%, 0 78%, 0 22%);
        width: 110%;
        height: 115%;
        background-color: $plum;
      }

      img {
        bottom: 4%;
        right: 0;
        z-index: -1;
        clip-path: polygon(50% 0, 100% 22%, 100% 75%, 50% 100%, 0 78%, 0 25%);
        width: 80%;
        height: 80%;
        object-fit: cover;
      }
    }

    //content part
    &__secondary {
      margin-top: -10%;

      &__polygon {
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        height: 250px;
        background-color: $dkblue;
      }
      &__content {
        padding: 1rem 1rem 2rem;
        background-color: $dkblue;

        h4:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 10%;
          height: 2px;
          background-color: white;
        }
        p {
          letter-spacing: .4px;
          line-height: 27px;
        }

        ul {
          display: inline-block;
          margin: 20.8px 0;
          width: 90%;
        }

        ul li{
          .progress-bar {
            width: 60%;
            height: 10px;
            background-color: white;

            &__progress {
              height: 100%;
              background-color: red;
              width: var(--load-progress);
            }
          }
          [class*="fa-"] { margin-right: 10px; }
          &:nth-child(1) [class*="fa-"] { font-size: 95%; }
          &:nth-child(3) [class*="fa-"] { font-size: 120%; }
          &:nth-child(4) [class*="fa-"] { font-size: 110%; }
        }

      }
      &__decoration {
        z-index: -2;
        top: 100px;
        clip-path: polygon(0px 25%, 100% 0px, 100% 100%, 0% 100%);
        height: 500px;
        width: 50%;
        background-color: $magenta;
      }
    }
  }

  &__main {
    max-width: calc(700px - 5%);
    width: 100%;

    //title part
    &__primary {
      height: 380px;

      h2 {
        font-size: 3rem;
        white-space: nowrap;

        span {
          display: block;
          font-size: 2em;
          color: $aqua;
        }
      }
      h3 {
        font-size: 2rem;
        font-weight: 500;
      }
      .border-line { margin-top: 1%; }
    }

    //content part
    &__secondary {
      height: 100%;

      h4 {
        padding: 1em;
        border-left: 10px solid $magenta;
        background-color: fade-out($magenta, .8);
        font-size: 1.1em;
      }


      &__item {
        margin-right: 5%;

        &__title {
          padding-right: 3%;

          h5 {
            margin: 0;
            margin-top: 3%;
            font-size: 1.3rem;
          }
          p {
            margin: 0;
            font-size: 1rem;
          }
        }

        &__description {
          padding-left: 3%;
          border-left: 2px solid $dkblue;

          h6 {
            margin: 0;
            margin-top: 20.6px;
            font-size: 1rem;
          }
          p {
            font-weight: 100;
            letter-spacing: .4px;
            line-height: 27px;
          }
        }
      }

      &__dropdown {
        transition: padding .5s ease-in-out;

        &__btn {
          margin-top: 3%;
          font-size: 1.6rem;
          font-weight: 700;
          color: $aqua;
          transition: color 150ms ease;

          &:hover { color: $magenta; }
          &:active { color: $hotmag; }
          span { pointer-events: none; }
          [class*="fa-"] {
            margin-left: 1%;
            transition: transform .5s ease-in-out;
          }
        }
        &__wrapper {
          opacity: 0;
          transition: opacity .5s ease-in-out;
        }
        &.active--dropdown .CV__main__secondary__dropdown__wrapper { opacity: 1; }
        &.active--dropdown .CV__main__secondary__dropdown__btn [class*="fa-"] { transform: rotate(180deg); }
      }
    }
  }
}
