.CV-sidebar {
  max-width: 500px;
  margin-right: 5%;
  overflow: hidden;
}
.CV-sidebar__top {
  height: 500px;
  overflow: hidden;
}
.CV-sidebar__top__polygon {
  z-index: -2;
  top: -16%;
  left: -25%;
  width: 110%;
  height: 115%;
  clip-path: polygon(50% 0, 100% 22%, 100% 78%, 50% 100%, 0 78%, 0 22%);
}
.CV-sidebar__top img {
  z-index: -1;
  bottom: 4%;
  right: 0;
  width: 80%;
  height: 80%;
  clip-path: polygon(50% 0, 100% 22%, 100% 75%, 50% 100%, 0 78%, 0 25%);
  object-fit: cover;
}

.CV-sidebar__bottom { margin-top: -10%; }
.CV-sidebar__bottom__polygon {
  height: 250px;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
.CV-sidebar__bottom__polygon .dropdown-btn{ display: none; }
.CV-sidebar__bottom__content { padding: 1rem 1rem 2rem; }
.CV-sidebar__bottom__content h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 10%;
  height: 2px;
  background-color: white;
}
.CV-sidebar__bottom__content ul { width: 90%; }
.CV-sidebar__bottom__decoration {
  z-index: -2;
  top: 100px;
  height: 500px;
  width: 50%;
  clip-path: polygon(0px 25%, 100% 0px, 100% 100%, 0% 100%);
  background-color: $magenta;
}

@media (max-width: 1100px) {
  .CV-sidebar {
    margin-right: 0;
    margin-top: 20px;
  }
  .CV-sidebar__bottom__polygon .dropdown-btn { display: flex; }
  .CV-sidebar__bottom__content { position: absolute; }
}

@media (max-width: 786px) {
  .CV-sidebar { max-width: 350px; }
  .CV-sidebar__top { height: 350px; }
  .CV-sidebar__bottom__polygon { height: 180px; }
  .CV-sidebar__bottom__decoration {
    top: 70px;
    clip-path: polygon(0px 18%, 100% 0px, 100% 100%, 0% 100%);
  }
  .CV-sidebar__bottom__content ul { margin: 0;}
}
