.CV__decoration {
  width: 200px;
  height: 200px;
  overflow: hidden;

  div {
    top: 0;
    left: 0;
    clip-path: polygon(50% 0, 100% 22%, 100% 75%, 50% 100%, 0 78%, 0 25%);
    width: 100%;
    height: 100%;
    background-color: $dkblue;

    &:last-child {
      z-index: 999;
      left: 40%;
      background-color: $aqua;
    }
  }

  &--top { top: -80px; right: 0; }
  &--bottom { bottom: -100px; right: 0; }

}
