.CV {
  margin-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  @media (max-width: 1100px) {
    @include flex-vertical-X-center;

    &__sidebar {
      order: 2;
      margin-top: 50px;
    }
    &__main { order: 1; }
  }

  @media (max-width: 786px) { margin-top: 40px; }
}
