.CV__main {
  max-width: calc(700px - 5%);
  width: 100%;

  //title part
  &__primary {
    height: 380px;

    h2 {
      font-size: 3rem;
      white-space: nowrap;

      span {
        display: block;
        font-size: 2em;
        color: $aqua;
      }
    }
    h3 {
      font-size: 2rem;
      font-weight: 500;
    }
    .border-line { margin-top: 1%; }
  }

  //content part
  &__secondary {
    height: 100%;

    h4 {
      padding: 1em;
      border-left: 10px solid $magenta;
      background-color: fade-out($magenta, .8);
      font-size: 1.1em;
    }


    &__item {
      margin-right: 5%;

      &__title {
        padding-right: 3%;

        h5 {
          margin: 0;
          margin-top: 3%;
          font-size: 1.3rem;
        }
        p {
          margin: 0;
          font-size: 1rem;
        }
      }

      &__description {
        padding-left: 3%;
        border-left: 2px solid $dkblue;

        h6 {
          margin: 0;
          margin-top: 20.6px;
          font-size: 1rem;
        }
        p {
          font-weight: 100;
          letter-spacing: .4px;
          line-height: 27px;
        }
      }
    }

    &__dropdown {
      transition: padding .5s ease-in-out;

      &__btn {
        margin-top: 3%;
        font-size: 1.6rem;
      }
      &__wrapper {
        opacity: 0;
        transition: opacity .5s ease-in-out;
      }
      &.active--dropdown .CV__main__secondary__dropdown__wrapper { opacity: 1; }
    }
  }

  @media (max-width: 786px) {
    &__primary { height: 320px;}
    &__primary h2 { font-size: 2rem; }
    &__primary h3 { font-size: 1.2rem; }

    &__secondary h4 { font-size: 1.1em; }
    &__secondary__item {
      @include flex-vertical-X-start-Y-center;
      margin-bottom: 10px;
    }
    &__secondary__item__title h5 { font-size: 1rem; }
    &__secondary__item__title p { font-size: .8rem; }
    &__secondary__item__description {
      border-left: none;
      padding-left: 0;
    }
    &__secondary__item__description h6 { font-size: .8rem;}
    &__secondary__dropdown__btn { font-size: 1.3rem; }
  }
}
