#projects {
    margin-top: 3rem;
    width: 100%;
}

.project-review h2 {
    font-size: 1.4rem;
    font-family: $font-sans;
}

.project {
    margin: 2rem auto;
    display: none;
    gap: 1.5rem;
    grid-template-areas:
        "logo main main"
        "mobile main main"
        "mobile program program"
        "mobile program program"
        "description description description"
    ;

    &.active--project {
        display: grid;
    }
}

.project__item {
    position: relative;

    & span {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);
        padding: .5rem;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.project__item--1 {
    grid-area: logo;
}

.project__item--2 {
    grid-area: mobile;

}

.project__item--3 {
    grid-area: main;
}

.project__item--4 {
    grid-area: program;
}

// btns

.project__btns {
    width: 100%;
    bottom: 50%;
    left: 0;

    & span {
        font-size: 3rem;
        color: rgba(134, 251, 251, 1);
        transition: 150ms ease-in-out;

        &:hover {
            color: rgba(255, 23, 228, 1);
            transform: scale(1.1);
        }

        &:active {
            color: rgb(183, 0, 255);
        }
    }
}

#project__back-btn {
    margin-left: -90px;
}

#project__next-btn {
    margin-right: -90px;
}

.project__description {
    grid-area: description;
}