.btn {
    padding: .5rem;
    border-radius: 5px;
    border: 0;
    background-color: blue;
}
.btn--mag {
    @extend .btn;
    background-color: $magenta;
    color: $white;
}
.btn--mag:hover {
    background-color: $hotmag;
    color: $white;
}
.dropdown-btn {
  font-weight: 700;
  color: $aqua;
  transition: color 150ms ease;

  &:hover { color: $magenta; }
  &:active { color: $hotmag; }
  span { pointer-events: none; }
  [class*="fa-"] {
    margin-left: 5px;
    transition: transform .5s ease-in-out;
  }
  [class *= "active--dropdown"] & [class*="fa-"] { transform: rotate(180deg);  }
}
