.btn {
    padding: .5rem;
    border-radius: 5px;  
    border: 0;
    background-color: blue;
}
.btn--mag {
    @extend .btn;
    background-color: $magenta;
    color: $white;
}
.btn--mag:hover {
    background-color: $hotmag;
    color: $white;
}

