#header {
    @include max-width-middle;
    @include padding-around;
    padding-top: 1rem;

}
.expender {
    position: relative;
    background-image: url(../../images/lapotop-main-page-wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    font-size: 80%;
}
.header-nav__list {
    font-family: $font-mono;
    gap: 2rem;
}
.header-nav-list__item:last-child {
    display: none;
    @media (max-width: 500px) {
        display: block;
    }
}
.header-nav-list__item:first-child {
    font-family: $font-sans;
    flex-basis: 100%;
    text-align: center;
    display: block;

    & h1 {
        @media (max-width: 500px) {
            font-size: 1.1rem;
        }
    }

    @media (min-width: 850px) {
        text-align: left;
        flex-basis: auto;
        margin-right: auto;
    }
    @media (max-width: 500px) {
        text-align: left;
        flex-basis: auto;
        margin-right: auto;
    }
}
.header-nav-list__item {
    @media (max-width: 500px) {
        display: none;
    }
}
.header-nav-list-item__link {
    color: $white;
    text-decoration: none;
}
.header-nav [class*="fa-"] {
    color: $aqua;
    font-size: 150%;
}
.header-nav [class*="fa-"]:hover {
    color: $hotmag;
}
.header-nav-list__item h1 [class *= "fa-"] {
    font-size: 100%;
    @media (max-width: 500px) {
        font-size: 90%;
    }
}