//colors

$black: #171321;
$dkblue: #0d314b;
$plum: #4b0d49;
$hotmag: #ff17e4;
$magenta: #e310cb;
$aqua: #86fbfb;
$white: #f7f8fa;

//font size

$font-m: 1.3rem;
$font-xl: 2.5rem;

//font family

$font-mono: "Oxygen mono", monospace;
$font-sans: "Oxygen", sans-serif;